[project]
name = "spotter"
version = "0.0.6-beta"
description = "Stellar contamination estimates from rotational light curves"
authors = [{name="Lionel Garcia"}, {name="Benjamin Rackham"}]
license = "MIT"
readme = "readme.md"
requires-python = ">=3.9"
packages = [{ include = "spotter" },]
dependencies = ["numpy", "healpy", "matplotlib", "jax", "jaxlib"]

[project.optional-dependencies]
dev = ["black", "pytest", "nox"]
test = ["pytest", "pytest-xdist"]
comparison = ["starry", "tqdm", "xarray<2023.10.0", "numpy<1.22"]
docs = [
    "sphinx",
    "docutils",
    "jupyterlab",
    "myst-parser", 
    "sphinx-book-theme", 
    "myst-nb", 
    "sphinx-copybutton",
    "toml", 
    "ipywidgets"
    ]

[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"